@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #fff;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(12, 1, 1, 0.588);
    z-index: 100;
}
nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1170px;
    width: 100%;
    /* background-color: rgba(55, 53, 53, 0.447); */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sliderbarOpen {
    color: #fff;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo {
    flex: 1;
}
nav .nav-bar .logo a {
    justify-content: center;
    position: absolute;
    align-items: center;
    text-align: center;
    top: 24px;
}
nav .nav-bar .menu {
    flex: 4.1;
}
.menu .toggle {
    display: none;
}
.nav-bar .nav-links {
    display: flex;
    justify-content: center;
    margin-top: 6px;
}
.nav-bar .nav-links ul {
    display: flex;
    align-items: center;
}
.nav-bar .nav-links ul li {
    list-style: none;
    margin: 0 5px;
}
.nav-links ul li a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 21px
}
.nav-links ul li a:hover {
    color: #dd2f31;
    transition: all 0.3s ease;
}
.nav-bar .list-icon {
    display: flex;
    align-items: center;
    margin: 0 -10px;
}
.list-icon .searchToggle,
.list-icon .icons {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 27px;
    padding: 0 26px;
}
.searchToggle i {
    position: absolute;
    color: #fff;
    cursor: pointer;
    transition: all 0.3 ease;
}
/* .searchToggle i:hover {
    color: #dd2f31;
    transition: all 0.3s ease;
} */
.searchToggle i .cancel {
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.active .search {
    opacity: 1;
    pointer-events: auto;
}
.searchToggle i.active .cancel {
    opacity: 0;
    pointer-events: none;
}
.search-box {
    position: relative;
}
.search-box .search-text {
    position: absolute;
    bottom: -100px;
    right: 18px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(55, 53, 53, 0.447);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.active ~ .search-text{
    opacity: 1;
    pointer-events: auto;
    bottom: -96px;
}

.search-text::before {
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: red;
    right: 24px;
    top: -4px;
    transform: rotate(-45deg);
    z-index: -1;
}
.search-text input {
    height: 100%;
    width: 100%;
    padding: 0 50px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    font-weight: 300;
}
.search-text i {
    position: absolute;
    color: #000;
    right: 20px;
    cursor: pointer;

}
.icons i {
    color: #fff;
    cursor: pointer;
    padding: 0 26px;
    float: right;
}
.icons i:hover {
    color: #dd2f31;
    transition: all 0.3s ease;
}
/* SLIDER */
.slider {
    position: relative;
    background-image: url(../images/slider.jpg);
    background-size: cover;
    height: 950px;
}
.slider .container {
    position: relative;
    margin: auto;
    max-width: 1170px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.container .content {
    position: absolute;
    top: 294px;
    left: -4px;
}
.content {
    color: #fff;
}
.content h1 {
    font-size: 60px;
}
.content h2 {
    margin-top: -8px;
    font-size: 40px;
}
.content p {
    margin-left: 4px;
    margin-top: 20px;
    font-size: 14px;
}
.content .btn {
    padding-top: 63px;
    padding-left: 5px;
}
.btn button {
    display: inline-block;
    border: 1px solid #fff;
    padding: 14px 48px; 
    background: none;
}
button:hover{
    background-color: #dd2f31;
    transition: all 0.3s ease;
}
button a {
    color: #fff;
    text-decoration: none;
}
/* CATEGORY-PRODUCT */
.category-product {
    position: relative;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: -4%;
}
.category-product .container {
    display: flex;
    background-color: #fff;
}
.dumbbells .category-product-bottom {
    margin: 40px 50px;
    text-align: center;
}
.dumbbells .category-product-bottom h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0;
}
.dumbbells .category-product-bottom p {
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
}
.category-product-top img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.strength .category-product-top {
    transform: translateY(97%);
}
.strength .category-product-bottom {
    transform: translateY(-145%);
    margin: 40px 50px;
    text-align: center;
}
.strength .category-product-bottom h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0;
}
.strength .category-product-bottom p {
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
}
.power .category-product-bottom {
    margin: 24px 50px;
    text-align: center;
}
.power .category-product-bottom h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 16px 0;
}
.power .category-product-bottom p {
    text-align: center;
    font-size: 14px;
    padding: 3px 0;
}
/* PRODUCT */
 .product {
    position: relative;
}
.product .tab-bar .container {
    margin: 0 auto;
    max-width: 1170px;
}
.product .tab-bar .container ul {
    padding: 20px 0 14px 0;
    margin-top: 54px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #777;
}
.product .tab-bar .container ul li {
    list-style: none;
    font-size: 23px;
}
.product .tab-bar .container ul li a {
    color: #000;
    display: block;
    text-decoration: none;
}
.product .tab-bar .container ul li h5 {
    display: table;
    margin-right: 12px;
    margin-left: 17px;
    text-transform: uppercase;
}
.product .tab-bar .container ul li h5:hover {
    color: #dd2f31;
    transition: all 0.3s ease;
}
/* CART LIST */
.cart-list {
    display: flex;
    overflow: hidden;
    background-color: #fff;
    max-width: 1170px;
    margin: 40px auto;
}
.cart {
    width: calc(100%/4 - 30px);
    margin: 0 15px;
    position: relative;
}
.cart:hover {
    border: 1px solid #777;
    transition: all 0.3s ease;
}
.cart img {
    width: 100%;
}
.cart-info {
    padding-left: 30px;
    padding-top: 24px;
}
.cart-info h4 {
    font-weight: normal;
}
.cart-info p {
    font-weight: bold;
}
.cart-right {
    display: none;
    position: absolute;
    top: 13px;
    right: 0px;
}
.cart-right ul li {
    list-style: none;
    padding: 12px;
}
.cart-right ul li a {
    color: #777;
    border: 1px solid #777;
    border-radius: 5px 0px;
    padding: 4px 8px;
}
.cart-right ul li a:hover {
    background-color: #dd2f31;
    color: #fff;
    transition: all 0.3s ease;
}
.two {
    margin-top: 77px;
}
.cart:hover .cart-right{
    display: block;
}
/* CLIENT SAY */
.client-say  .client {
    justify-content: center;
    text-align: center;
    margin-top: 77px;
}
.client-say .client .client-item {
    padding-bottom: 26px;
}
.client-say .client .client-item h2 {
    font-size: 36px;
}
.client-say .client .client-item img {
    margin: 20px auto;
    padding-top: 20px;
}
.client-say .client .client-item p {
    margin-top: 25px;
    font-size: 19px;
}
.client-say .client .client-item h3 {
    text-transform: uppercase;
    margin-top: 27px;
}
.client-say .client .client-item h5 {
    font-weight: lighter;
    margin-top: 9px;
}
.slick-dots li {
    list-style: none;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}
.slick-dots button {
    font-size: 0;
    height: 10px;
    width: 10px;
    background-color: #777777;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}
.slick-dots .slick-active button {
    background-color: #dd2f31;
}
/* BRAND */
.brands {
    margin-top: 100px;
}
.brands .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 9px;
    border-top: 1px solid #777;
}
.brands .container ul {
    display: flex;
}
.brands .container ul li {
    list-style: none;
    margin: 30px auto;
}
/* FOOTER */
footer {
    background-color: #222222;
}
.footer {
    max-width: 1170px;
    margin: 5px auto;
}
.footer .footer-top {
    text-align: center;
    padding: 100px 0 30px 0;
    border-bottom: 1px solid #777;
}
.footer-title {
    font-size: 14px;
    margin-top: 30px;
    color: #777;
}
.footer-icons {
    margin-top: 20px;
}
.footer-icons ul {
    display: flex;
    justify-content: center;
}
.footer-icons ul li {
    font-size: 20px;
    list-style: none;
    padding: 20px;
}
.footer-icons ul li a {
    color: #777;
}
.footer-icons ul li a:hover {
    color: #fff;
    transition: all 0.3s ease;
}
.footer_list {
    padding-top: 17px;
}
.footer_list ul li {
    list-style: none;
}
.footer_list .footer-item a {
    text-decoration: none;
}
.footer_list .footer-item i {
    padding-right: 12px;
}
.grid_row {
    display: flex;
}
.grid_colum {
    padding: 73px 0 43px 0;
    min-width: 300px;
}
.grid_colum::first-child {
    margin-right: 0;
    padding-right: 0;
}
.grid_colum::last-child {
    margin-right: 0;
    padding-right: 0;
}
.grid_colum h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}
.grid_colum .footer_list a {
    color: #777;
    font-size: 14px;
}
.grid_colum .footer_list a:hover {
    color: #fff;
    transition: all 0.3s ease;
}
.footer-item {
    color: #fff;
    padding: 8px 0;
}
.content-other {
    height: 50px;
    background-color: #111111;
    text-align: center;
}
.content-other p {
    color: #777;
    padding: 14px 0;
    font-size: 15px;
}
.content-other p:hover {
    color: #fff;
    transition: all 0.3s ease;
}


/* REPONSIVE */
@media (max-width: 768px) {
    nav .nav-bar .sliderbarOpen {
        display: block;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: #000;
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu {
        left: -0%;
    }
    .menu .toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .toggle .sliderbarClose {
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links ul {
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links ul li a {
        display: block;
        margin-top: 20px;
    }
    /* .nav-links ul li a:hover {
        background-color: #dd2f31;
    } */
    .slider .container {
        margin-left: 50px;
        align-items: center;
    }
    /* category-product */
    .category-product .container {
        display: block;
        justify-content: center;
    }
    .strength .category-product-bottom {
        transform: unset;
    }
    .strength .category-product-top {
        transform: unset;
    }
    .category-product-top img {
        width: 100%;
    }
    .product .tab-bar .container {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto; 
    }
    /* CART LIST */
    .cart-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .cart {
        width: 35%;
        margin: auto;
    }
    .brands .container ul {
        display: block;
        width: calc(18% - 30px);
        margin: auto;
    }
    .grid_row {
        display: block;
    }
}